/*
 * Default variable values for the editor and Cyan Design System tokens for
 * the same.
 */

cn-editor {
  --_cn-editor-padding: var(--cn-grid, 0.5rem);
  --_cn-editor-border: var(--cn-editor-border, none);
  --_cn-editor-border-bottom: var(--cn-border);
  --_cn-editor-border-radius: var(--cn-border-radius-field, 0 1rem 0 0);
}
